USE [master]
GO
/****** Object:  Database [CAJATRUJILLO]    Script Date: 8/10/2022 11:34:10 ******/
CREATE DATABASE [CAJATRUJILLO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CAJATRUJILLO', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CAJATRUJILLO.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CAJATRUJILLO_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CAJATRUJILLO_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CAJATRUJILLO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CAJATRUJILLO]
GO
/****** Object:  Schema [CAJATRUJILLO]    Script Date: 8/10/2022 11:34:11 ******/
CREATE SCHEMA [CAJATRUJILLO]
GO
/****** Object:  Table [CAJATRUJILLO].[MARCACIONES]    Script Date: 8/10/2022 11:34:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CAJATRUJILLO].[MARCACIONES](
	[MARCACION_ID] [int] NOT NULL,
	[PERSONA_ID] [varchar](255) NOT NULL,
	[MARCA] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MARCACION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [CAJATRUJILLO].[PERSONA]    Script Date: 8/10/2022 11:34:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CAJATRUJILLO].[PERSONA](
	[PERSONA_ID] [varchar](255) NOT NULL,
	[RAZONSOCIAL] [varchar](255) NULL,
	[TIPODOCUMENTO_ID] [int] NULL,
	[PASSWORD] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[PERSONA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [CAJATRUJILLO].[TIPODOCUMENTO]    Script Date: 8/10/2022 11:34:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CAJATRUJILLO].[TIPODOCUMENTO](
	[TIPODOCUMENTO_ID] [int] NOT NULL,
	[DESCRIPCION] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[TIPODOCUMENTO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [CAJATRUJILLO].[MARCACIONES]  WITH CHECK ADD  CONSTRAINT [PERSONA_ID] FOREIGN KEY([PERSONA_ID])
REFERENCES [CAJATRUJILLO].[PERSONA] ([PERSONA_ID])
GO
ALTER TABLE [CAJATRUJILLO].[MARCACIONES] CHECK CONSTRAINT [PERSONA_ID]
GO
ALTER TABLE [CAJATRUJILLO].[PERSONA]  WITH CHECK ADD  CONSTRAINT [TIPODOCUMENTO_ID] FOREIGN KEY([TIPODOCUMENTO_ID])
REFERENCES [CAJATRUJILLO].[TIPODOCUMENTO] ([TIPODOCUMENTO_ID])
GO
ALTER TABLE [CAJATRUJILLO].[PERSONA] CHECK CONSTRAINT [TIPODOCUMENTO_ID]
GO
/****** Object:  StoredProcedure [CAJATRUJILLO].[AUTH]    Script Date: 8/10/2022 11:34:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [CAJATRUJILLO].[AUTH]
(
@uname NVARCHAR(50),  @pass NVARCHAR(50), @respuesta bit output
)
AS

BEGIN

	declare @v_persona  NVARCHAR(50);
	declare @v_password NVARCHAR(50);

	select @v_persona= (SELECT  p.PERSONA_ID
		FROM CAJATRUJILLO.PERSONA p
		WHERE p.PERSONA_ID=@uname AND p.[PASSWORD]=@pass);

	if (@v_persona is null)
	begin
		set @respuesta=0;
	end
	else
	begin
		set @respuesta=1;
    end
END
GO
/****** Object:  StoredProcedure [CAJATRUJILLO].[ELIMINARPERSONA]    Script Date: 8/10/2022 11:34:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [CAJATRUJILLO].[ELIMINARPERSONA]
(
@uname NVARCHAR(50), @respuesta bit output
)
AS

BEGIN

	delete from  CAJATRUJILLO.PERSONA  where PERSONA_ID =@uname;
    set @respuesta=1;
END
GO
/****** Object:  StoredProcedure [CAJATRUJILLO].[REGISTROPERSONA]    Script Date: 8/10/2022 11:34:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [CAJATRUJILLO].[REGISTROPERSONA]
(
@uname NVARCHAR(50),  @pass NVARCHAR(50), @respuesta bit output
)
AS

BEGIN

	declare @v_persona  NVARCHAR(50);
	declare @v_password NVARCHAR(50);

	insert into  CAJATRUJILLO.PERSONA values(@uname,'comercio','1',@pass);
    set @respuesta=1;
END
GO
/****** Object:  StoredProcedure [CAJATRUJILLO].[SHOWALL]    Script Date: 8/10/2022 11:34:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [CAJATRUJILLO].[SHOWALL]
AS

BEGIN

	select * from  CAJATRUJILLO.PERSONA;
END
GO
USE [master]
GO
