USE [master]
GO
/****** Object:  Database [CAJATRUJILLO]    Script Date: 7/10/2022 20:39:39 ******/
CREATE DATABASE [CAJATRUJILLO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CAJATRUJILLO', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CAJATRUJILLO.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CAJATRUJILLO_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CAJATRUJILLO_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CAJATRUJILLO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CAJATRUJILLO]
GO
/****** Object:  Schema [CAJATRUJILLO]    Script Date: 7/10/2022 20:39:40 ******/
CREATE SCHEMA [CAJATRUJILLO]
GO
/****** Object:  Table [CAJATRUJILLO].[MARCACIONES]    Script Date: 7/10/2022 20:39:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CAJATRUJILLO].[MARCACIONES](
	[MARCACION_ID] [int] NOT NULL,
	[PERSONA_ID] [varchar](255)  NOT NULL,
	[MARCA] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MARCACION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [CAJATRUJILLO].[PERSONA]    Script Date: 7/10/2022 20:39:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CAJATRUJILLO].[PERSONA](
	[PERSONA_ID] [varchar](255)  NOT NULL,
	[RAZONSOCIAL] [varchar](255) NULL,
	[TIPODOCUMENTO_ID] [int] NULL,
	[PASSWORD] [varchar](255) NULL
PRIMARY KEY CLUSTERED 
(
	[PERSONA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [CAJATRUJILLO].[TIPODOCUMENTO]    Script Date: 7/10/2022 20:39:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CAJATRUJILLO].[TIPODOCUMENTO](
	[TIPODOCUMENTO_ID] [int] NOT NULL,
	[DESCRIPCION] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[TIPODOCUMENTO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [CAJATRUJILLO].[MARCACIONES]  WITH CHECK ADD  CONSTRAINT [PERSONA_ID] FOREIGN KEY([PERSONA_ID])
REFERENCES [CAJATRUJILLO].[PERSONA] ([PERSONA_ID])
GO
ALTER TABLE [CAJATRUJILLO].[MARCACIONES] CHECK CONSTRAINT [PERSONA_ID]
GO
ALTER TABLE [CAJATRUJILLO].[PERSONA]  WITH CHECK ADD  CONSTRAINT [TIPODOCUMENTO_ID] FOREIGN KEY([TIPODOCUMENTO_ID])
REFERENCES [CAJATRUJILLO].[TIPODOCUMENTO] ([TIPODOCUMENTO_ID])
GO
ALTER TABLE [CAJATRUJILLO].[PERSONA] CHECK CONSTRAINT [TIPODOCUMENTO_ID]
GO
USE [master]
GO
